/* Makes the Read-More button responsive */
.space-ros.btn.btn-primary {
  white-space: normal;
  display: block;
  margin-top: auto;
}

/* Article Teaser related styles - Makes the article list responsive using flexbox. */
.space-ros.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.space-ros.blog-entry {
  height: 100%;
  display: flex;
  flex-direction: column;
  float: none;
}

.space-ros.desc {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-top: 0;
}

.space-ros.desc h3 {
  margin-top: 0;
}

/* Responsive Logo */
#fh5co-aside #fh5co-logo.space-ros {
  background-color: #2c3553;
  margin: 0 -1rem 30px;
}

#fh5co-aside #fh5co-logo.space-ros img {
  width: 100%;
  max-width: 300px;
  max-height: 3em;
}

@media screen and (max-width: 992px) {
  #fh5co-aside #fh5co-logo.space-ros img {
    max-height: 2em;
  }
}

/* Hero-related changes to make the text stand out */
#fh5co-hero.space-ros .flexslider .slider-text > .slider-text-inner h1,
#fh5co-hero.space-ros .flexslider .slider-text > .slider-text-inner h2 {
  text-shadow: 0 0 5px #333333;
}

#fh5co-hero .flexslider .slides .overlay {
  background: rgba(0, 0, 0, 0.4);
}

/* Colorize the Toggle button */
.fh5co-nav-toggle {
  mix-blend-mode: difference;
}

.fh5co-nav-toggle i {
  background: white;
}

.fh5co-nav-toggle i::before, .fh5co-nav-toggle i::after {
  background: white;
}

.fh5co-nav-toggle.active i::before, .fh5co-nav-toggle.active i::after {
  background: white;
}
