{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Authors{% endblock %}
{% block meta %}
    <meta name="description" content="{{ SITENAME }} - {{ _('Authors') }}" />
{% endblock %}

{% block content %}
    <div class="fh5co-narrow-content">
        <h1 class="fh5co-heading-colored">{{ _('Authors') }}</h1>

        <div class="animate-box" data-animate-effect="fadeInLeft">
          <ul>
            {% for author, articles in authors|sort %}
              <li><a href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a> ({{ articles|count }})</li>
            {% endfor %}
          </ul>
        </div>
    </div>
{% endblock %}
