{% extends "base.html" %}

{% block title %}{{ SITENAME }} - {{ _('Contact') }}{% endblock %}
{% block meta %}
    <meta name="description" content="{{ SITENAME }} - Contact" />
{% endblock %}

{% block content %}

      <div class="fh5co-more-contact">
        <div class="fh5co-narrow-content">
          <div class="row">
            <div class="col-md-4">
              <h2 class="animate-box" data-animate-effect="fadeInLeft">{{ _('Get in touch') }}</h2>
            </div>
          </div>

          <div class="row">

            {% if 'mail' in ABOUT %}
              <div class="col-md-4">
                <div class="fh5co-feature fh5co-feature-sm animate-box" data-animate-effect="fadeInLeft">
                  <div class="fh5co-icon">
                      {% if 'image' in ABOUT %}
                        <img class="about-image" src="{{ SITEURL }}{{ ABOUT.image }}" />
                      {% else %}
                        <i class="icon-globe"></i>
                      {% endif %}
                  </div>
                  <div class="fh5co-text">
                    <p><a href="mailto:{{ ABOUT.mail }}">{{ ABOUT.mail }}</a></p>
                  </div>
                </div>
              </div>
            {% endif %}

            {% if 'address' in ABOUT %}
              <div class="col-md-4">
                <div class="fh5co-feature fh5co-feature-sm animate-box" data-animate-effect="fadeInLeft">
                  <div class="fh5co-icon">
                    <i class="icon-world2"></i>
                  </div>
                  <div class="fh5co-text">
                    <p>{{ ABOUT.address }}</p>
                  </div>
                </div>
              </div>
            {% endif %}

            {% if 'phone' in ABOUT %}
            <div class="col-md-4">
              <div class="fh5co-feature fh5co-feature-sm animate-box" data-animate-effect="fadeInLeft">
                <div class="fh5co-icon">
                  <i class="icon-phone"></i>
                </div>
                <div class="fh5co-text">
                  <p><a href="tel:{{ ABOUT.phone }}">{{ ABOUT.phone }}</a></p>
                </div>
              </div>
            </div>
            {% endif %}

          </div>
        </div>
      </div>


      {% if 'address' in ABOUT %}
        <div class="fh5co-feature fh5co-feature-sm animate-box" data-animate-effect="fadeInLeft">
          <div id="map" data-address="{{ ABOUT.address }}"></div>
        </div>
      {% endif %}


{% endblock %}

{% block custom_js %}

    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/leaflet_map.js"></script>

{% endblock %}
