{% if HERO|length > 0 %}
<aside id="fh5co-hero" class="js-fullheight">
    <div class="flexslider js-fullheight">
        <ul class="slides">

            {% for hero in HERO %}
                <li style="background-image: url({{ hero.image }});">
                    <div class="overlay"></div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 text-center js-fullheight slider-text">
                                <div class="slider-text-inner">
                                    <h1>{{ hero.title }}</h1>
                                    <h2>{{ hero.text }}</h2>
                                        <p>
                                            {% for link in hero.links %}
                                                <a class="btn btn-primary" href="{{ link.url }}">
                                                    <i class="{{ link.icon }}"></i> {{ link.text }}
                                                </a>
                                            {% endfor %}
                                        </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</aside>
{% endif %}