{% extends "base.html" %}

{% block title %}{{ page.title }}{% endblock %}
{% block content %}

    <div class="fh5co-narrow-content page-content">
        <h1 class="fh5co-heading-colored"><i class="{{ page.icon }}"></i> {{ page.title }}</h1>
        <div class="animate-box" data-animate-effect="fadeInLeft">
            <p class="fh5co-lead animate-box" data-animate-effect="fadeInLeft">{{ page.summary }}</p>
            <p class="animate-box " data-animate-effect="fadeInLeft">{{ page.content }}</p>
        </div>
    </div>

    {% if DISQUS_ON_PAGES or page.use_disqus %}
        {% include 'partial/disqus.html' %}
    {% endif %}

{% endblock %}
