{% extends "base.html" %}

{% block title %}{{ SITENAME }} - {{ _('Search') }}{% endblock %}
{% block meta %}
    <meta name="description" content="{{ SITENAME }} - {{ _('Search') }}" />
{% endblock %}

{% block content %}
    <div class="fh5co-narrow-content">
        <h1 class="fh5co-heading-colored">{{ _('Search results') }}</h1>

        <div class="animate-box" data-animate-effect="fadeInLeft">
          <section id="content" class="body">
            <div id="tipue_search_content"></div>
          </section>
        </div>
    </div>

{% endblock %}


{% block custom_js %}
    <!-- tipue search -->
    <script type="text/javascript" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/tipuesearch/tipuesearch_set.js"></script>
    <script type="text/javascript" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/tipuesearch/tipuesearch.js"></script>
    <script type="text/javascript" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/tipue-search.js"></script>
{% endblock %}
