{% if pages|length > 1 %}
    {% if DISPLAY_PAGES_ON_HOME %}
        <div class="fh5co-narrow-content">
            <h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">{{ _('Pages overview') }}</h2>
            <div class="row">
                {% for page in pages|sort(attribute='order') %}
                    <a href="{{ SITEURL }}/{{ page.url }}" class="overview-link col-md-6 animate-box" data-animate-effect="fadeInLeft">
                        <div class="wrapper">
                            <div class="fh5co-feature">
                                <div class="fh5co-icon">
                                    <i class="{{ page.icon }}"></i>
                                </div>
                                <div class="fh5co-text">
                                    <h3>{{ page.title }}</h3>
                                    <p>{{ page.summary }}</p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endif %}
